.top {
    height: 100px;
}

.p-name-block {
    padding-left: 40px;
    padding-top: 20px;
}

.p-name {
    font-size: 26pt;
}

.p-id {
    font-size: 10pt;
    font-weight: 400;
}

.p-img-block {
    text-align: right;
}

.p-img {
    height: 100px;
    border-radius: 50px;
}

.p-img-edit-btn {
    background: linear-gradient(#ea69be, #8f51b2);
    width: 50px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    position: absolute;
    right: 40px;
    bottom: -5px;
    font-size: 10pt;
    font-weight: 400;
    border-radius: 5px;
    line-height: 25px;
}

.p-count-block {
    text-align: center;
    height: 70px;
    background-color: rgba(53, 65, 81, 0.9);
    margin-left: 0;
    margin-right: 0;
    border-radius: 35px;
}

.p-label {
    font-size: 10pt;
}

.p-count {
    font-size: 22pt;
    font-weight: 400;
}

.p-count-block2 {
    height: 90px;
    align-items: center;
}

.p-count-money-label {
    padding-left: 75px;
}

.p-count-fans-label {
    padding-left: 75px;
}

.p-count-money-value {
    text-align: right;
    padding-right: 40px;
}

.p-count-fans-value {
    text-align: right;
    padding-right: 40px;
}

.p-count-fans-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.p-count-fans-img1 {
    margin-right: -25px;
    z-index: 3;
}

.p-count-fans-img2 {
    margin-right: -25px;
    z-index: 2;
}

.p-count-fans-img3 {
    z-index: 1;
}

.p-info {
    background-color: #2a4c6b;
    padding: 40px;
    border-radius: 10px;
    position: relative;
}

.p-info-title {
    background: linear-gradient(#ea69be, #8f51b2);
    width: 140px;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14pt;
    font-weight: 400;
    border-radius: 5px;
    line-height: 30px;
}

.p-info-content {
    font-size: 8pt;
    font-weight: 400;
}

.p-photos {
    width: 100%;
    border-radius: 10px;
    margin: 0;
}

.p-photos .col-4 {
    padding-left: 0;
    padding-right: 0;
}

.p-photo {
    width: 100%;
}

.p-photos .col-4:nth-child(1) .p-photo {
    border-radius: 10px 0 0 0;
}

.p-photos .col-4:nth-child(3) .p-photo {
    border-radius: 0 10px 0 0;
}

.p-photos .col-4:nth-child(7) .p-photo {
    border-radius: 0 0 0 10px;
}

.p-photos .col-4:nth-child(9) .p-photo {
    border-radius: 0 0 10px 0;
}